div.AllProducts {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

div.AllProducts h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.AllProducts section.products {
    justify-content: space-between;
    flex-wrap: wrap;
}