div.Product {
    background-color: var(--black);
    margin-bottom: 2rem;
    border-width: 1px;
    border-radius: 20px;
    border-color: "#f7eceb";
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
    width: 45%;
    height: 550px;
    transition: 0.2s;
}

div.Product:hover {
    rotate: 3deg;
}

.Product img {
    border-radius: 20px;
    width: 100%;
    height: var(--itemHight);
}

.Product p.title {
    text-align: right;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1rem;
    padding-bottom: 0;
    line-height: 2rem;
}

.Product p.desc {
    text-align: right;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem 0;
}

@media (width < 950px) {
    div.Product {
        width: 80%;
        margin-inline: auto;
        height: auto;
    }
}

@media (width < 450px) {
    .Product img {
        height: 250px;
    }
}