div.Product {
    background-color: var(--black);
    margin-bottom: 2rem;
}

.Product img {
    width: 100%;
    height: var(--itemHight);
}

.Product p.title {
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    padding-bottom: 0;
    /* margin-top: -1rem; */
    line-height: 2rem;
}

.Product p.desc {
    text-align: right;
    font-size: 1rem;
    /* font-weight: bold; */
    padding: 1rem;
    width: 30rem;
    /* margin-top: -1rem; */
    /* line-height: 2rem; */
}

@media (width < 1400px) {
    .Product img {
        /* width: calc(var(--itemWidth) + 100); */
        height: calc(var(--itemHight) + 100);
        /* background-color: rgb(254, 145, 1); */
    }
}

@media (width < 1120px) {
    .Product img {
        /* width: calc(var(--itemWidth) + 200); */
        height: calc(var(--itemHight) + 200);
        /* background-color: rgb(254, 145, 1); */
    }
}