@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Amiri', serif;
  letter-spacing: 0.1rem;
}

:root {
  --primary: #e7e7e7;
  --white: #fff;
  --black: #111;
  --green: rgb(7, 119, 59);
  --itemWidth: 350px;
  --itemHight: 350px;
}

body {
  background-color: #333;
}

li {
  list-style: none;
}

a,
button {
  /* text-decoration: none;
  color: inherit; */
  all: unset;
  cursor: pointer;
  transition: 0.2s;
}


button:active {
  scale: 0.8;
}

.flex {
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid red;
}

p,
H1 {
  color: var(--white);
}